
html, body{
    margin: 0;
    height: 100%;
}

<<<<<<< Updated upstream
/* Navigation Start */
=======
<<<<<<< HEAD
/* Nav Start */
=======
/* Navigation Start */
>>>>>>> e348ac3cab79cd669a213f486e84c97b682b10b4
>>>>>>> Stashed changes

#nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

#nav a.topimage {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
}

<<<<<<< Updated upstream
/* Navigation End */
=======
<<<<<<< HEAD
/* Nav End */
=======
/* Navigation End */
>>>>>>> e348ac3cab79cd669a213f486e84c97b682b10b4
>>>>>>> Stashed changes

/* Middle Start */

#middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    text-align: center;
}

#searchbarcontainer{
    margin-top: 20px;
    text-align: center;
    position: relative;
}

#search, #voice{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search{
    margin-left: 10px;

}

#voice{
    margin-right: 10px;

}

#searchbar{
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 0;
    width: 480px;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid #c4c4c4;
}

#searchbar:hover{
    box-shadow: 0 0 2px 2px rgb(212, 212, 212);
}

#buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px ;
    cursor: pointer;
    background: #f2f2f2;
    border-radius: 1px solid #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    color: #5f6368;
    font-size: 14px;
    border: 2px solid transparent;
}

#links{
    margin-top: 20px;
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
}

.button:hover {
    box-shadow: 0 0 2px 1px black;
    border: 2px solid #eee;
}

/* Middle End */

/* Footer Start */

#footer-content{
    margin-top: 350px;
    background: #eee;
    border-top: 1px solid black;
    background: #f2f2f2;
}

#footer-content a{
    text-decoration: none;
    color: #333;
}

/* Footer End */